plugins/SAPControl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SAPControl"
 targetNamespace="urn:SAPControl"
 xmlns:tns="urn:SAPControl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:SAPControl="urn:SAPControl"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:SAPControl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:SAPControl="urn:SAPControl"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="STATE-COLOR">
   <restriction base="xsd:string">
    <enumeration value="SAPControl-GRAY"/>
    <enumeration value="SAPControl-GREEN"/>
    <enumeration value="SAPControl-YELLOW"/>
    <enumeration value="SAPControl-RED"/>
   </restriction>
  </simpleType>
  <simpleType name="VISIBLE-LEVEL">
   <restriction base="xsd:string">
    <enumeration value="SAPControl-UNKNOWN"/>
    <enumeration value="SAPControl-OPERATOR"/>
    <enumeration value="SAPControl-EXPERT"/>
    <enumeration value="SAPControl-DEVELOPER"/>
   </restriction>
  </simpleType>
  <simpleType name="J2EE-PSTATE">
   <restriction base="xsd:string">
    <enumeration value="SAPControl-J2EE-STOPPED"/>
    <enumeration value="SAPControl-J2EE-STARTING"/>
    <enumeration value="SAPControl-J2EE-CORE-RUNNING"/>
    <enumeration value="SAPControl-J2EE-RUNNING"/>
    <enumeration value="SAPControl-J2EE-STOPPING"/>
    <enumeration value="SAPControl-J2EE-MAINTENANCE"/>
    <enumeration value="SAPControl-J2EE-UNKNOWN"/>
   </restriction>
  </simpleType>
  <simpleType name="StartStopOption">
   <restriction base="xsd:string">
    <enumeration value="SAPControl-ALL-INSTANCES"/>
    <enumeration value="SAPControl-SCS-INSTANCES"/>
    <enumeration value="SAPControl-DIALOG-INSTANCES"/>
    <enumeration value="SAPControl-ABAP-INSTANCES"/>
    <enumeration value="SAPControl-J2EE-INSTANCES"/>
    <enumeration value="SAPControl-PRIORITY-LEVEL"/>
   </restriction>
  </simpleType>
  <complexType name="ArrayOfString">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfInt">
   <sequence>
    <element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="OSProcess">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dispstatus" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
     <element name="textstatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="starttime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="elapsedtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfOSProcess">
   <sequence>
    <element name="item" type="SAPControl:OSProcess" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="AlertNode">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="parent" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="ActualValue" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
     <element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Time" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="AnalyseTool" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="VisibleLevel" type="SAPControl:VISIBLE-LEVEL" minOccurs="1" maxOccurs="1"/>
     <element name="HighAlertValue" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
     <element name="AlDescription" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="AlTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Tid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfAlertNode">
   <sequence>
    <element name="item" type="SAPControl:AlertNode" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="DirEntry">
   <sequence>
     <element name="filename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="modtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfDirEntry">
   <sequence>
    <element name="item" type="SAPControl:DirEntry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="SyslogEntry">
   <sequence>
     <element name="Time" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Typ" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Client" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="User" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Tcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="MNo" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Text" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Severity" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfSyslogEntry">
   <sequence>
    <element name="item" type="SAPControl:SyslogEntry" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfRawSyslogEntry">
   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TaskHandlerQueue">
   <sequence>
     <element name="Typ" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Now" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="High" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="Max" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="Writes" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="Reads" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfTaskHandlerQueue">
   <sequence>
    <element name="item" type="SAPControl:TaskHandlerQueue" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="WorkProcess">
   <sequence>
     <element name="No" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="Typ" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Reason" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Start" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Err" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Sem" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Cpu" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Time" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Program" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Client" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="User" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Action" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Table" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfWorkProcess">
   <sequence>
    <element name="item" type="SAPControl:WorkProcess" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Alert">
   <sequence>
     <element name="Object" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Attribute" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Value" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
     <element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Time" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Tid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Aid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfAlert">
   <sequence>
    <element name="item" type="SAPControl:Alert" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="J2EEProcess">
   <sequence>
     <element name="telnetPort" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="restart" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="exitCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="state" type="SAPControl:J2EE-PSTATE" minOccurs="1" maxOccurs="1"/>
     <element name="statetext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="elapsedTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="restartCount" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="errorCount" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="cpu" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="debug" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfJ2EEProcess">
   <sequence>
    <element name="item" type="SAPControl:J2EEProcess" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="J2EEThread">
   <sequence>
     <element name="processname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="updateTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="taskupdateTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="subtaskupdateTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="task" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="subtask" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="classname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="user" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pool" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="state" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dispstatus" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfJ2EEThread">
   <sequence>
    <element name="item" type="SAPControl:J2EEThread" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="J2EESession">
   <sequence>
     <element name="processname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="IdHash" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="size" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="timeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="activeRequests" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="updateTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sticky" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="corrupt" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="backingStore" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfJ2EESession">
   <sequence>
    <element name="item" type="SAPControl:J2EESession" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="J2EECache">
   <sequence>
     <element name="cachename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="processname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="attrSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="keysSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="cachedObjects" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="usedObjects" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="puts" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="gets" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="hits" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="changes" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="removes" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="evictions" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="instanceInvalidations" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="clusterInvalidations" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="updateTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dispstatus" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfJ2EECache">
   <sequence>
    <element name="item" type="SAPControl:J2EECache" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="J2EEApplicationAlias">
   <sequence>
     <element name="AppName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Alias" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="TotalRequests" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="AppActive" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="IgnoreCookie" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfJ2EEApplicationAlias">
   <sequence>
    <element name="item" type="SAPControl:J2EEApplicationAlias" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="InstanceVersionInfo">
   <sequence>
     <element name="Filename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="VersionInfo" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="Time" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfInstanceVersionInfo">
   <sequence>
    <element name="item" type="SAPControl:InstanceVersionInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="GCInfo">
   <sequence>
     <element name="processname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="reason" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="duration" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="cpuTime" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="objBytesBefore" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="objBytesAfter" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="objBytesFreed" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="clsBytesBefore" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="clsBytesAfter" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="clsBytesFreed" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="heapSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="unloadedClasses" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfGCInfo">
   <sequence>
    <element name="item" type="SAPControl:GCInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="HeapInfo">
   <sequence>
     <element name="processname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="commitSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="maxUsedSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="initialSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="maxSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="dispstatus" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfHeapInfo">
   <sequence>
    <element name="item" type="SAPControl:HeapInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="InstanceProperty">
   <sequence>
     <element name="property" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="propertytype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfInstanceProperties">
   <sequence>
    <element name="item" type="SAPControl:InstanceProperty" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="LogFile">
   <sequence>
     <element name="filename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="modtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="format" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfLogFile">
   <sequence>
    <element name="item" type="SAPControl:LogFile" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="SAPInstance">
   <sequence>
     <element name="hostname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="instanceNr" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="httpPort" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="httpsPort" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="startPriority" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="features" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dispstatus" type="SAPControl:STATE-COLOR" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfSAPInstance">
   <sequence>
    <element name="item" type="SAPControl:SAPInstance" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="Start">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StartResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Stop">
   <complexType>
    <sequence>
     <element name="softtimeout" type="xsd:int" minOccurs="1" maxOccurs="1" default="0"/>
     <element name="IsSystemStop" type="xsd:int" minOccurs="1" maxOccurs="1" default="0"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StopResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="Shutdown">
   <complexType>
    <sequence>
     <element name="IsSystemStop" type="xsd:int" minOccurs="1" maxOccurs="1" default="0"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ShutdownResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ParameterValue">
   <complexType>
    <sequence>
     <element name="parameter" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ParameterValueResponse">
   <complexType>
    <sequence>
     <element name="value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetProcessList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetProcessListResponse">
   <complexType>
    <sequence>
     <element name="process" type="SAPControl:ArrayOfOSProcess" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetStartProfile">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetStartProfileResponse">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="lines" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetTraceFile">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetTraceFileResponse">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="lines" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetAlertTree">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetAlertTreeResponse">
   <complexType>
    <sequence>
     <element name="tree" type="SAPControl:ArrayOfAlertNode" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetAlerts">
   <complexType>
    <sequence>
     <element name="RootTid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetAlertsResponse">
   <complexType>
    <sequence>
     <element name="RootTidName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="alert" type="SAPControl:ArrayOfAlert" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="RestartService">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="RestartServiceResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="StopService">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StopServiceResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetEnvironment">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetEnvironmentResponse">
   <complexType>
    <sequence>
     <element name="env" type="SAPControl:ArrayOfString" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ListDeveloperTraces">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ListDeveloperTracesResponse">
   <complexType>
    <sequence>
     <element name="file" type="SAPControl:ArrayOfDirEntry" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ReadDeveloperTrace">
   <complexType>
    <sequence>
     <element name="filename" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="size" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ReadDeveloperTraceResponse">
   <complexType>
    <sequence>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="lines" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="RestartInstance">
   <complexType>
    <sequence>
     <element name="softtimeout" type="xsd:int" minOccurs="1" maxOccurs="1" default="0"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="RestartInstanceResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="SendSignal">
   <complexType>
    <sequence>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="signal" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="SendSignalResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetVersionInfo">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetVersionInfoResponse">
   <complexType>
    <sequence>
     <element name="version" type="SAPControl:ArrayOfInstanceVersionInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetQueueStatistic">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetQueueStatisticResponse">
   <complexType>
    <sequence>
     <element name="queue" type="SAPControl:ArrayOfTaskHandlerQueue" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetInstanceProperties">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetInstancePropertiesResponse">
   <complexType>
    <sequence>
     <element name="properties" type="SAPControl:ArrayOfInstanceProperties" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="OSExecute">
   <complexType>
    <sequence>
     <element name="command" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="async" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="timeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="protocolfile" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="OSExecuteResponse">
   <complexType>
    <sequence>
     <element name="exitcode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="pid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="lines" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ReadLogFile">
   <complexType>
    <sequence>
     <element name="filename" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="filter" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="language" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maxentries" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="statecookie" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ReadLogFileResponse">
   <complexType>
    <sequence>
     <element name="format" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="startcookie" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="endcookie" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="fields" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ListLogFiles">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ListLogFilesResponse">
   <complexType>
    <sequence>
     <element name="file" type="SAPControl:ArrayOfLogFile" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="AnalyseLogFiles">
   <complexType>
    <sequence>
     <element name="starttime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="endtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="severity-level" type="xsd:int" minOccurs="1" maxOccurs="1" default="2"/>
     <element name="maxentries" type="xsd:int" minOccurs="1" maxOccurs="1" default="10000"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AnalyseLogFilesResponse">
   <complexType>
    <sequence>
     <element name="format" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="fields" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetSystemInstanceList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetSystemInstanceListResponse">
   <complexType>
    <sequence>
     <element name="instance" type="SAPControl:ArrayOfSAPInstance" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="StartSystem">
   <complexType>
    <sequence>
     <element name="options" type="SAPControl:StartStopOption" minOccurs="1" maxOccurs="1"/>
     <element name="prioritylevel" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="waittimeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StartSystemResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="StopSystem">
   <complexType>
    <sequence>
     <element name="options" type="SAPControl:StartStopOption" minOccurs="1" maxOccurs="1"/>
     <element name="prioritylevel" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="softtimeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="waittimeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StopSystemResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="RestartSystem">
   <complexType>
    <sequence>
     <element name="options" type="SAPControl:StartStopOption" minOccurs="1" maxOccurs="1"/>
     <element name="prioritylevel" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="softtimeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="waittimeout" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="RestartSystemResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="AccessCheck">
   <complexType>
    <sequence>
     <element name="function" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AccessCheckResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ShmDetach">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ShmDetachResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ABAPReadSyslog">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ABAPReadSyslogResponse">
   <complexType>
    <sequence>
     <element name="log" type="SAPControl:ArrayOfSyslogEntry" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ABAPReadRawSyslog">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ABAPReadRawSyslogResponse">
   <complexType>
    <sequence>
     <element name="log" type="SAPControl:ArrayOfRawSyslogEntry" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ABAPGetWPTable">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ABAPGetWPTableResponse">
   <complexType>
    <sequence>
     <element name="workprocess" type="SAPControl:ArrayOfWorkProcess" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ABAPAcknowledgeAlerts">
   <complexType>
    <sequence>
     <element name="R3Client" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="R3User" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="R3Password" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="Aid" type="SAPControl:ArrayOfString" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ABAPAcknowledgeAlertsResponse">
   <complexType>
    <sequence>
     <element name="alert" type="SAPControl:ArrayOfInt" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetProcessList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetProcessListResponse">
   <complexType>
    <sequence>
     <element name="process" type="SAPControl:ArrayOfJ2EEProcess" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEControlProcess">
   <complexType>
    <sequence>
     <element name="processname" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="function" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEControlProcessResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetThreadList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetThreadListResponse">
   <complexType>
    <sequence>
     <element name="thread" type="SAPControl:ArrayOfJ2EEThread" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetSessionList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetSessionListResponse">
   <complexType>
    <sequence>
     <element name="session" type="SAPControl:ArrayOfJ2EESession" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetCacheStatistic">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetCacheStatisticResponse">
   <complexType>
    <sequence>
     <element name="cache" type="SAPControl:ArrayOfJ2EECache" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetApplicationAliasList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetApplicationAliasListResponse">
   <complexType>
    <sequence>
     <element name="alias" type="SAPControl:ArrayOfJ2EEApplicationAlias" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetVMGCHistory">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetVMGCHistoryResponse">
   <complexType>
    <sequence>
     <element name="gc" type="SAPControl:ArrayOfGCInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="J2EEGetVMHeapInfo">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="J2EEGetVMHeapInfoResponse">
   <complexType>
    <sequence>
     <element name="heap" type="SAPControl:ArrayOfHeapInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="StartRequest">
 <part name="parameters" element="SAPControl:Start"/>
</message>

<message name="StartResponse">
 <part name="parameters" element="SAPControl:StartResponse"/>
</message>

<message name="StopRequest">
 <part name="parameters" element="SAPControl:Stop"/>
</message>

<message name="StopResponse">
 <part name="parameters" element="SAPControl:StopResponse"/>
</message>

<message name="ShutdownRequest">
 <part name="parameters" element="SAPControl:Shutdown"/>
</message>

<message name="ShutdownResponse">
 <part name="parameters" element="SAPControl:ShutdownResponse"/>
</message>

<message name="ParameterValueRequest">
 <part name="parameters" element="SAPControl:ParameterValue"/>
</message>

<message name="ParameterValueResponse">
 <part name="parameters" element="SAPControl:ParameterValueResponse"/>
</message>

<message name="GetProcessListRequest">
 <part name="parameters" element="SAPControl:GetProcessList"/>
</message>

<message name="GetProcessListResponse">
 <part name="parameters" element="SAPControl:GetProcessListResponse"/>
</message>

<message name="GetStartProfileRequest">
 <part name="parameters" element="SAPControl:GetStartProfile"/>
</message>

<message name="GetStartProfileResponse">
 <part name="parameters" element="SAPControl:GetStartProfileResponse"/>
</message>

<message name="GetTraceFileRequest">
 <part name="parameters" element="SAPControl:GetTraceFile"/>
</message>

<message name="GetTraceFileResponse">
 <part name="parameters" element="SAPControl:GetTraceFileResponse"/>
</message>

<message name="GetAlertTreeRequest">
 <part name="parameters" element="SAPControl:GetAlertTree"/>
</message>

<message name="GetAlertTreeResponse">
 <part name="parameters" element="SAPControl:GetAlertTreeResponse"/>
</message>

<message name="GetAlertsRequest">
 <part name="parameters" element="SAPControl:GetAlerts"/>
</message>

<message name="GetAlertsResponse">
 <part name="parameters" element="SAPControl:GetAlertsResponse"/>
</message>

<message name="RestartServiceRequest">
 <part name="parameters" element="SAPControl:RestartService"/>
</message>

<message name="RestartServiceResponse">
 <part name="parameters" element="SAPControl:RestartServiceResponse"/>
</message>

<message name="StopServiceRequest">
 <part name="parameters" element="SAPControl:StopService"/>
</message>

<message name="StopServiceResponse">
 <part name="parameters" element="SAPControl:StopServiceResponse"/>
</message>

<message name="GetEnvironmentRequest">
 <part name="parameters" element="SAPControl:GetEnvironment"/>
</message>

<message name="GetEnvironmentResponse">
 <part name="parameters" element="SAPControl:GetEnvironmentResponse"/>
</message>

<message name="ListDeveloperTracesRequest">
 <part name="parameters" element="SAPControl:ListDeveloperTraces"/>
</message>

<message name="ListDeveloperTracesResponse">
 <part name="parameters" element="SAPControl:ListDeveloperTracesResponse"/>
</message>

<message name="ReadDeveloperTraceRequest">
 <part name="parameters" element="SAPControl:ReadDeveloperTrace"/>
</message>

<message name="ReadDeveloperTraceResponse">
 <part name="parameters" element="SAPControl:ReadDeveloperTraceResponse"/>
</message>

<message name="RestartInstanceRequest">
 <part name="parameters" element="SAPControl:RestartInstance"/>
</message>

<message name="RestartInstanceResponse">
 <part name="parameters" element="SAPControl:RestartInstanceResponse"/>
</message>

<message name="SendSignalRequest">
 <part name="parameters" element="SAPControl:SendSignal"/>
</message>

<message name="SendSignalResponse">
 <part name="parameters" element="SAPControl:SendSignalResponse"/>
</message>

<message name="GetVersionInfoRequest">
 <part name="parameters" element="SAPControl:GetVersionInfo"/>
</message>

<message name="GetVersionInfoResponse">
 <part name="parameters" element="SAPControl:GetVersionInfoResponse"/>
</message>

<message name="GetQueueStatisticRequest">
 <part name="parameters" element="SAPControl:GetQueueStatistic"/>
</message>

<message name="GetQueueStatisticResponse">
 <part name="parameters" element="SAPControl:GetQueueStatisticResponse"/>
</message>

<message name="GetInstancePropertiesRequest">
 <part name="parameters" element="SAPControl:GetInstanceProperties"/>
</message>

<message name="GetInstancePropertiesResponse">
 <part name="parameters" element="SAPControl:GetInstancePropertiesResponse"/>
</message>

<message name="OSExecuteRequest">
 <part name="parameters" element="SAPControl:OSExecute"/>
</message>

<message name="OSExecuteResponse">
 <part name="parameters" element="SAPControl:OSExecuteResponse"/>
</message>

<message name="ReadLogFileRequest">
 <part name="parameters" element="SAPControl:ReadLogFile"/>
</message>

<message name="ReadLogFileResponse">
 <part name="parameters" element="SAPControl:ReadLogFileResponse"/>
</message>

<message name="ListLogFilesRequest">
 <part name="parameters" element="SAPControl:ListLogFiles"/>
</message>

<message name="ListLogFilesResponse">
 <part name="parameters" element="SAPControl:ListLogFilesResponse"/>
</message>

<message name="AnalyseLogFilesRequest">
 <part name="parameters" element="SAPControl:AnalyseLogFiles"/>
</message>

<message name="AnalyseLogFilesResponse">
 <part name="parameters" element="SAPControl:AnalyseLogFilesResponse"/>
</message>

<message name="GetSystemInstanceListRequest">
 <part name="parameters" element="SAPControl:GetSystemInstanceList"/>
</message>

<message name="GetSystemInstanceListResponse">
 <part name="parameters" element="SAPControl:GetSystemInstanceListResponse"/>
</message>

<message name="StartSystemRequest">
 <part name="parameters" element="SAPControl:StartSystem"/>
</message>

<message name="StartSystemResponse">
 <part name="parameters" element="SAPControl:StartSystemResponse"/>
</message>

<message name="StopSystemRequest">
 <part name="parameters" element="SAPControl:StopSystem"/>
</message>

<message name="StopSystemResponse">
 <part name="parameters" element="SAPControl:StopSystemResponse"/>
</message>

<message name="RestartSystemRequest">
 <part name="parameters" element="SAPControl:RestartSystem"/>
</message>

<message name="RestartSystemResponse">
 <part name="parameters" element="SAPControl:RestartSystemResponse"/>
</message>

<message name="AccessCheckRequest">
 <part name="parameters" element="SAPControl:AccessCheck"/>
</message>

<message name="AccessCheckResponse">
 <part name="parameters" element="SAPControl:AccessCheckResponse"/>
</message>

<message name="ShmDetachRequest">
 <part name="parameters" element="SAPControl:ShmDetach"/>
</message>

<message name="ShmDetachResponse">
 <part name="parameters" element="SAPControl:ShmDetachResponse"/>
</message>

<message name="ABAPReadSyslogRequest">
 <part name="parameters" element="SAPControl:ABAPReadSyslog"/>
</message>

<message name="ABAPReadSyslogResponse">
 <part name="parameters" element="SAPControl:ABAPReadSyslogResponse"/>
</message>

<message name="ABAPReadRawSyslogRequest">
 <part name="parameters" element="SAPControl:ABAPReadRawSyslog"/>
</message>

<message name="ABAPReadRawSyslogResponse">
 <part name="parameters" element="SAPControl:ABAPReadRawSyslogResponse"/>
</message>

<message name="ABAPGetWPTableRequest">
 <part name="parameters" element="SAPControl:ABAPGetWPTable"/>
</message>

<message name="ABAPGetWPTableResponse">
 <part name="parameters" element="SAPControl:ABAPGetWPTableResponse"/>
</message>

<message name="ABAPAcknowledgeAlertsRequest">
 <part name="parameters" element="SAPControl:ABAPAcknowledgeAlerts"/>
</message>

<message name="ABAPAcknowledgeAlertsResponse">
 <part name="parameters" element="SAPControl:ABAPAcknowledgeAlertsResponse"/>
</message>

<message name="J2EEGetProcessListRequest">
 <part name="parameters" element="SAPControl:J2EEGetProcessList"/>
</message>

<message name="J2EEGetProcessListResponse">
 <part name="parameters" element="SAPControl:J2EEGetProcessListResponse"/>
</message>

<message name="J2EEControlProcessRequest">
 <part name="parameters" element="SAPControl:J2EEControlProcess"/>
</message>

<message name="J2EEControlProcessResponse">
 <part name="parameters" element="SAPControl:J2EEControlProcessResponse"/>
</message>

<message name="J2EEGetThreadListRequest">
 <part name="parameters" element="SAPControl:J2EEGetThreadList"/>
</message>

<message name="J2EEGetThreadListResponse">
 <part name="parameters" element="SAPControl:J2EEGetThreadListResponse"/>
</message>

<message name="J2EEGetSessionListRequest">
 <part name="parameters" element="SAPControl:J2EEGetSessionList"/>
</message>

<message name="J2EEGetSessionListResponse">
 <part name="parameters" element="SAPControl:J2EEGetSessionListResponse"/>
</message>

<message name="J2EEGetCacheStatisticRequest">
 <part name="parameters" element="SAPControl:J2EEGetCacheStatistic"/>
</message>

<message name="J2EEGetCacheStatisticResponse">
 <part name="parameters" element="SAPControl:J2EEGetCacheStatisticResponse"/>
</message>

<message name="J2EEGetApplicationAliasListRequest">
 <part name="parameters" element="SAPControl:J2EEGetApplicationAliasList"/>
</message>

<message name="J2EEGetApplicationAliasListResponse">
 <part name="parameters" element="SAPControl:J2EEGetApplicationAliasListResponse"/>
</message>

<message name="J2EEGetVMGCHistoryRequest">
 <part name="parameters" element="SAPControl:J2EEGetVMGCHistory"/>
</message>

<message name="J2EEGetVMGCHistoryResponse">
 <part name="parameters" element="SAPControl:J2EEGetVMGCHistoryResponse"/>
</message>

<message name="J2EEGetVMHeapInfoRequest">
 <part name="parameters" element="SAPControl:J2EEGetVMHeapInfo"/>
</message>

<message name="J2EEGetVMHeapInfoResponse">
 <part name="parameters" element="SAPControl:J2EEGetVMHeapInfoResponse"/>
</message>

<portType name="SAPControlPortType">
 <operation name="Start">
  <documentation>Triggers an instance start and returns immediately.</documentation>
  <input message="tns:StartRequest"/>
  <output message="tns:StartResponse"/>
 </operation>
 <operation name="Stop">
  <documentation>Triggers an instance stop and returns immediately.</documentation>
  <input message="tns:StopRequest"/>
  <output message="tns:StopResponse"/>
 </operation>
 <operation name="Shutdown">
  <documentation>Triggers a graceful instance stop and returns immediately.</documentation>
  <input message="tns:ShutdownRequest"/>
  <output message="tns:ShutdownResponse"/>
 </operation>
 <operation name="ParameterValue">
  <documentation>Returns a SAP profile parameter value for a given profile parameter. If the given profile parameter is empty it returns a string with all known parameter value pairs seperated by newline.</documentation>
  <input message="tns:ParameterValueRequest"/>
  <output message="tns:ParameterValueResponse"/>
 </operation>
 <operation name="GetProcessList">
  <documentation>Returns a list of all processes directly started by the Webservice according to the SAP start profile.</documentation>
  <input message="tns:GetProcessListRequest"/>
  <output message="tns:GetProcessListResponse"/>
 </operation>
 <operation name="GetStartProfile">
  <documentation>Returns start profile name and content as array of lines.</documentation>
  <input message="tns:GetStartProfileRequest"/>
  <output message="tns:GetStartProfileResponse"/>
 </operation>
 <operation name="GetTraceFile">
  <documentation>Returns Webservice tracefile name and content as array of lines.</documentation>
  <input message="tns:GetTraceFileRequest"/>
  <output message="tns:GetTraceFileResponse"/>
 </operation>
 <operation name="GetAlertTree">
  <documentation>Returns CCMS Alert tree as an array, parent-child node relationship is encoded via the parent index of each node (similar to rz20 transaction).</documentation>
  <input message="tns:GetAlertTreeRequest"/>
  <output message="tns:GetAlertTreeResponse"/>
 </operation>
 <operation name="GetAlerts">
  <documentation>Returns a list of all CCMS alerts for a given node and it's child nodes.</documentation>
  <input message="tns:GetAlertsRequest"/>
  <output message="tns:GetAlertsResponse"/>
 </operation>
 <operation name="RestartService">
  <documentation>Triggers webservice restart without any effects on the eventually running instance and returns immediately.</documentation>
  <input message="tns:RestartServiceRequest"/>
  <output message="tns:RestartServiceResponse"/>
 </operation>
 <operation name="StopService">
  <documentation>Service definition of function SAPControl__StopService</documentation>
  <input message="tns:StopServiceRequest"/>
  <output message="tns:StopServiceResponse"/>
 </operation>
 <operation name="GetEnvironment">
  <documentation>Returns the process environment as an array of strings.</documentation>
  <input message="tns:GetEnvironmentRequest"/>
  <output message="tns:GetEnvironmentResponse"/>
 </operation>
 <operation name="ListDeveloperTraces">
  <documentation>Returns a list of all instance tracefiles (superceded by ListLogFiles).</documentation>
  <input message="tns:ListDeveloperTracesRequest"/>
  <output message="tns:ListDeveloperTracesResponse"/>
 </operation>
 <operation name="ReadDeveloperTrace">
  <documentation>Returns the content of a given tracefile. Use size=0 to read the entire file, size bigger 0 to read the first size bytes, size smaller 0 to read the last size bytes (superceded by ReadLogFile).</documentation>
  <input message="tns:ReadDeveloperTraceRequest"/>
  <output message="tns:ReadDeveloperTraceResponse"/>
 </operation>
 <operation name="RestartInstance">
  <documentation>Triggers an instance restart and returns immediately.</documentation>
  <input message="tns:RestartInstanceRequest"/>
  <output message="tns:RestartInstanceResponse"/>
 </operation>
 <operation name="SendSignal">
  <documentation>Sends a given OS signal to a given process. The signal can be given by name or number.</documentation>
  <input message="tns:SendSignalRequest"/>
  <output message="tns:SendSignalResponse"/>
 </operation>
 <operation name="GetVersionInfo">
  <documentation>Returns a list version information for the most important files of the instance</documentation>
  <input message="tns:GetVersionInfoRequest"/>
  <output message="tns:GetVersionInfoResponse"/>
 </operation>
 <operation name="GetQueueStatistic">
  <documentation>Returns a list of queue information of work processes and icm (similar to dpmon).</documentation>
  <input message="tns:GetQueueStatisticRequest"/>
  <output message="tns:GetQueueStatisticResponse"/>
 </operation>
 <operation name="GetInstanceProperties">
  <documentation>Returns a list of available instance features and information how to get it.</documentation>
  <input message="tns:GetInstancePropertiesRequest"/>
  <output message="tns:GetInstancePropertiesResponse"/>
 </operation>
 <operation name="OSExecute">
  <documentation>Executes an external OS command.</documentation>
  <input message="tns:OSExecuteRequest"/>
  <output message="tns:OSExecuteResponse"/>
 </operation>
 <operation name="ReadLogFile">
  <documentation>Returns the content of a given log file. Use statecookie to specify starting position (""=beginning), use maxentries to specify upper limit of returned entries (0=all) and reading direction (positive: forward, negative: backward).</documentation>
  <input message="tns:ReadLogFileRequest"/>
  <output message="tns:ReadLogFileResponse"/>
 </operation>
 <operation name="ListLogFiles">
  <documentation>Returns a list of all instance log files.</documentation>
  <input message="tns:ListLogFilesRequest"/>
  <output message="tns:ListLogFilesResponse"/>
 </operation>
 <operation name="AnalyseLogFiles">
  <documentation>Service definition of function SAPControl__AnalyseLogFiles</documentation>
  <input message="tns:AnalyseLogFilesRequest"/>
  <output message="tns:AnalyseLogFilesResponse"/>
 </operation>
 <operation name="GetSystemInstanceList">
  <documentation>Returns a list of SAP instances of the SAP system.</documentation>
  <input message="tns:GetSystemInstanceListRequest"/>
  <output message="tns:GetSystemInstanceListResponse"/>
 </operation>
 <operation name="StartSystem">
  <documentation>Triggers start of entire system or parts of it.</documentation>
  <input message="tns:StartSystemRequest"/>
  <output message="tns:StartSystemResponse"/>
 </operation>
 <operation name="StopSystem">
  <documentation>Triggers stop or soft shutdown of entire system or parts of it.</documentation>
  <input message="tns:StopSystemRequest"/>
  <output message="tns:StopSystemResponse"/>
 </operation>
 <operation name="RestartSystem">
  <documentation>Triggers restart of entire system or parts of it.</documentation>
  <input message="tns:RestartSystemRequest"/>
  <output message="tns:RestartSystemResponse"/>
 </operation>
 <operation name="AccessCheck">
  <documentation>Checks execute permission of webservice function.</documentation>
  <input message="tns:AccessCheckRequest"/>
  <output message="tns:AccessCheckResponse"/>
 </operation>
 <operation name="ShmDetach">
  <documentation>Triggers sapstarstrv to detach from shared memory (for internal usage only).</documentation>
  <input message="tns:ShmDetachRequest"/>
  <output message="tns:ShmDetachResponse"/>
 </operation>
 <operation name="ABAPReadSyslog">
  <documentation>Reads the SAP ABAP Syslog and returns it as an array of entries (similar to sm21 transaction).</documentation>
  <input message="tns:ABAPReadSyslogRequest"/>
  <output message="tns:ABAPReadSyslogResponse"/>
 </operation>
 <operation name="ABAPReadRawSyslog">
  <documentation>Reads the SAP ABAP Syslog and returns it as an array of raw entries (similar to sm21 transaction).</documentation>
  <input message="tns:ABAPReadRawSyslogRequest"/>
  <output message="tns:ABAPReadRawSyslogResponse"/>
 </operation>
 <operation name="ABAPGetWPTable">
  <documentation>Returns a list of the ABAP workprocesses (similar to sm50 transaction).</documentation>
  <input message="tns:ABAPGetWPTableRequest"/>
  <output message="tns:ABAPGetWPTableResponse"/>
 </operation>
 <operation name="ABAPAcknowledgeAlerts">
  <documentation>Achnowledge CCMS Alerts in the SAP ABAP system. Requires SAP user credentials and a list of alert ids to acknowledge. Returns a list of success code for each alerts (1=success, 0=failure).</documentation>
  <input message="tns:ABAPAcknowledgeAlertsRequest"/>
  <output message="tns:ABAPAcknowledgeAlertsResponse"/>
 </operation>
 <operation name="J2EEGetProcessList">
  <documentation>Returns a list of j2ee processes controled by jcontrol.</documentation>
  <input message="tns:J2EEGetProcessListRequest"/>
  <output message="tns:J2EEGetProcessListResponse"/>
 </operation>
 <operation name="J2EEControlProcess">
  <documentation>Performs a given function (EnableProcess, DisableProcess, RestartProcess, DumpStackTrace, EnableDebugging, DisableDebugging, IncrementTrace, DecrementTrace) on a given j2ee process.</documentation>
  <input message="tns:J2EEControlProcessRequest"/>
  <output message="tns:J2EEControlProcessResponse"/>
 </operation>
 <operation name="J2EEGetThreadList">
  <documentation>Returns a list of threads in the j2ee instance.</documentation>
  <input message="tns:J2EEGetThreadListRequest"/>
  <output message="tns:J2EEGetThreadListResponse"/>
 </operation>
 <operation name="J2EEGetSessionList">
  <documentation>Returns a list of (Http) sessions in the j2ee instance.</documentation>
  <input message="tns:J2EEGetSessionListRequest"/>
  <output message="tns:J2EEGetSessionListResponse"/>
 </operation>
 <operation name="J2EEGetCacheStatistic">
  <documentation>Returns a list of caches in the j2ee instance.</documentation>
  <input message="tns:J2EEGetCacheStatisticRequest"/>
  <output message="tns:J2EEGetCacheStatisticResponse"/>
 </operation>
 <operation name="J2EEGetApplicationAliasList">
  <documentation>Returns a list of application aliases in the j2ee instance.</documentation>
  <input message="tns:J2EEGetApplicationAliasListRequest"/>
  <output message="tns:J2EEGetApplicationAliasListResponse"/>
 </operation>
 <operation name="J2EEGetVMGCHistory">
  <documentation>Returns a list of JAVA VM garbage collections in the j2ee instance.</documentation>
  <input message="tns:J2EEGetVMGCHistoryRequest"/>
  <output message="tns:J2EEGetVMGCHistoryResponse"/>
 </operation>
 <operation name="J2EEGetVMHeapInfo">
  <documentation>Returns a list of JAVA VM heap information.</documentation>
  <input message="tns:J2EEGetVMHeapInfoRequest"/>
  <output message="tns:J2EEGetVMHeapInfoResponse"/>
 </operation>
</portType>

<binding name="SAPControl" type="tns:SAPControlPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="Start">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="Stop">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="Shutdown">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ParameterValue">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetProcessList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetStartProfile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetTraceFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetAlertTree">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetAlerts">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="RestartService">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="StopService">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetEnvironment">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ListDeveloperTraces">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ReadDeveloperTrace">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="RestartInstance">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="SendSignal">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetVersionInfo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetQueueStatistic">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetInstanceProperties">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="OSExecute">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ReadLogFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ListLogFiles">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="AnalyseLogFiles">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="GetSystemInstanceList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="StartSystem">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="StopSystem">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="RestartSystem">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="AccessCheck">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ShmDetach">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ABAPReadSyslog">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ABAPReadRawSyslog">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ABAPGetWPTable">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="ABAPAcknowledgeAlerts">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetProcessList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEControlProcess">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetThreadList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetSessionList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetCacheStatistic">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetApplicationAliasList">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetVMGCHistory">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
 <operation name="J2EEGetVMHeapInfo">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal"/>
  </input>
  <output>
   <SOAP:body use="literal"/>
  </output>
 </operation>
</binding>

<service name="SAPControl">
 <documentation>The SAPControl webservice can be used to control and monitor a single SAP instance. Some methods may fail with http error 401 without user authentication. Use http basic authentication (UTF8 encoded) to provide OS user credentials. By default the service uses port 5$(SAPSYSTEM)13 for http and 5$(SAPSYSTEM)14 for https (if SSL is configured for the instance), this might be overriden in etc/service by specifying sapctrl$(SAPSYSTEM) and sapctrls$(SAPSYSTEM).</documentation>
 <port name="SAPControl" binding="tns:SAPControl">
  <SOAP:address location="http://localhost:50013/SAPControl.cgi"/>
 </port>
</service>

</definitions>
